NET  GPIO_LED_4_LS             LOC = AR35 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_0_VRN_13
#NET  3N787                     LOC = AY34 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L1P_T0_13
NET  USB_SMSC_NXT              LOC = BA35 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L1N_T0_13
NET  USB_SMSC_DATA0            LOC = AV36 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L2P_T0_13
NET  USB_SMSC_DATA1            LOC = AW36 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L2N_T0_13
NET  USB_SMSC_DATA2            LOC = BA34 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L3P_T0_DQS_13
NET  USB_SMSC_DATA3            LOC = BB34 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L3N_T0_DQS_13
NET  USB_SMSC_DATA4            LOC = BA36 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L4P_T0_13
NET  USB_SMSC_RESET_B          LOC = BB36 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L4N_T0_13
NET  USB_SMSC_STP              LOC = BB32 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L5P_T0_13
NET  USB_SMSC_DIR              LOC = BB33 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L5N_T0_13
NET  USB_SMSC_DATA7            LOC = AW35 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L6P_T0_13
NET  USB_SMSC_DATA6            LOC = AY35 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L6N_T0_VREF_13
NET  USB_SMSC_DATA5            LOC = AT34 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L7P_T1_13
NET  SI5324_INT_ALM_LS         LOC = AU34 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L7N_T1_13
NET  SI5324_RST_LS             LOC = AT36 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L8P_T1_13
NET  USB_UART_RX               LOC = AU36 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L8N_T1_13
NET  USB_UART_RTS              LOC = AT32 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L9P_T1_DQS_13
NET  USB_UART_TX               LOC = AU33 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L9N_T1_DQS_13
NET  USB_UART_CTS              LOC = AR34 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L10P_T1_13
NET  IIC_SCL_MAIN_LS           LOC = AT35 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L10N_T1_13
NET  IIC_SDA_MAIN_LS           LOC = AU32 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L11P_T1_SRCC_13
NET  PCIE_WAKE_B_LS            LOC = AV33 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L11N_T1_SRCC_13
NET  REC_CLOCK_C_P             LOC = AW32 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L12P_T1_MRCC_13
NET  REC_CLOCK_C_N             LOC = AW33 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L12N_T1_MRCC_13
NET  USB_SMSC_REFCLK_OPTION    LOC = AV34 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L13P_T2_MRCC_13
NET  PCIE_PERST_LS             LOC = AV35 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L13N_T2_MRCC_13
NET  USB_SMSC_CLKOUT           LOC = AY32 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L14P_T2_SRCC_13
NET  GPIO_DIP_SW1              LOC = AY33 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L14N_T2_SRCC_13
NET  GPIO_DIP_SW2              LOC = BA31 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L15P_T2_DQS_13
NET  GPIO_DIP_SW3              LOC = BA32 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L15N_T2_DQS_13
NET  GPIO_DIP_SW4              LOC = AW30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L16P_T2_13
NET  GPIO_DIP_SW5              LOC = AY30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L16N_T2_13
NET  GPIO_DIP_SW6              LOC = BA30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L17P_T2_13
NET  GPIO_DIP_SW7              LOC = BB31 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L17N_T2_13
NET  GPIO_DIP_SW0              LOC = AV30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L18P_T2_13
NET  ROTARY_PUSH               LOC = AW31 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L18N_T2_13
NET  SDIO_DAT0_LS              LOC = AR30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L19P_T3_13
NET  SDIO_CD_DAT3_LS           LOC = AT30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L19N_T3_VREF_13
NET  SDIO_DAT1_LS              LOC = AU31 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L20P_T3_13
NET  SDIO_DAT2_LS              LOC = AV31 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L20N_T3_13
NET  SDIO_CLK_LS               LOC = AN30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L21P_T3_DQS_13
NET  SDIO_CMD_LS               LOC = AP30 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L21N_T3_DQS_13
NET  SDIO_SDDET                LOC = AP32 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L22P_T3_13
NET  SDIO_SDWP                 LOC = AR32 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L22N_T3_13
NET  USER_SMA_GPIO_P           LOC = AN31 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L23P_T3_13
NET  USER_SMA_GPIO_N           LOC = AP31 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L23N_T3_13
NET  SFP_TX_DISABLE            LOC = AP33 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L24P_T3_13
NET  ROTARY_INCA               LOC = AR33 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_L24N_T3_13
NET  ROTARY_INCB               LOC = AT31 | IOSTANDARD=LVCMOS18; # Bank  13 VCCO - VCC1V8_FPGA - IO_25_VRP_13
NET  FMC_VADJ_ON_B_LS          LOC = AH35 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_0_VRN_14
NET  FLASH_D0                  LOC = AM36 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L1P_T0_D00_MOSI_14
NET  FLASH_D1                  LOC = AN36 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L1N_T0_D01_DIN_14
NET  FLASH_D2                  LOC = AJ36 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L2P_T0_D02_14
NET  FLASH_D3                  LOC = AJ37 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L2N_T0_D03_14
#NET  4N749                     LOC = AP36 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L3P_T0_DQS_PUDC_B_14
NET  FPGA_EMCCLK               LOC = AP37 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L3N_T0_DQS_EMCCLK_14
NET  FLASH_D4                  LOC = AK37 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L4P_T0_D04_14
NET  FLASH_D5                  LOC = AL37 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L4N_T0_D05_14
NET  FLASH_D6                  LOC = AN35 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L5P_T0_D06_14
NET  FLASH_D7                  LOC = AP35 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L5N_T0_D07_14
NET  FLASH_CE_B                LOC = AL36 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L6P_T0_FCS_B_14
NET  FLASH_D8                  LOC = AM37 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L6N_T0_D08_VREF_14
NET  FLASH_D9                  LOC = AG33 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L7P_T1_D09_14
NET  FLASH_D10                 LOC = AH33 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L7N_T1_D10_14
NET  FLASH_D11                 LOC = AK35 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L8P_T1_D11_14
NET  FLASH_D12                 LOC = AL35 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L8N_T1_D12_14
NET  PHY_MDC_LS                LOC = AH31 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L9P_T1_DQS_14
NET  FLASH_D13                 LOC = AJ31 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L9N_T1_DQS_D13_14
NET  FLASH_D14                 LOC = AH34 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L10P_T1_D14_14
NET  FLASH_D15                 LOC = AJ35 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L10N_T1_D15_14
NET  PHY_RESET_LS              LOC = AJ33 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L11P_T1_SRCC_14
NET  PHY_MDIO_LS               LOC = AK33 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L11N_T1_SRCC_14
NET  USER_CLOCK_P              LOC = AK34 | IOSTANDARD=LVDS; # Bank  14 VCCO - VCC1V8_FPGA - IO_L12P_T1_MRCC_14
NET  USER_CLOCK_N              LOC = AL34 | IOSTANDARD=LVDS; # Bank  14 VCCO - VCC1V8_FPGA - IO_L12N_T1_MRCC_14
NET  USER_SMA_CLOCK_P          LOC = AJ32 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L13P_T2_MRCC_14
NET  USER_SMA_CLOCK_N          LOC = AK32 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L13N_T2_MRCC_14
NET  PHY_INT_LS                LOC = AL31 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L14P_T2_SRCC_14
NET  FMC_C2M_PG_LS             LOC = AL32 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L14N_T2_SRCC_14
NET  FLASH_WAIT                LOC = AM34 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L15P_T2_DQS_RDWR_B_14
NET  FMC1_HPC_PG_M2C_LS        LOC = AN34 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L15N_T2_DQS_DOUT_CSO_B_14
NET  FMC1_HPC_PRSNT_M2C_B_LS   LOC = AM31 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L16P_T2_CSI_B_14
NET  FLASH_A15                 LOC = AM32 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L16N_T2_A15_D31_14
NET  FLASH_A14                 LOC = AM33 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L17P_T2_A14_D30_14
NET  FLASH_A13                 LOC = AN33 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L17N_T2_A13_D29_14
NET  FLASH_A12                 LOC = AL29 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L18P_T2_A12_D28_14
NET  FLASH_A11                 LOC = AL30 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L18N_T2_A11_D27_14
NET  FLASH_A10                 LOC = AH29 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L19P_T3_A10_D26_14
NET  FLASH_A9                  LOC = AH30 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L19N_T3_A09_D25_VREF_14
NET  FLASH_A8                  LOC = AJ30 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L20P_T3_A08_D24_14
NET  FLASH_A7                  LOC = AK30 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L20N_T3_A07_D23_14
NET  FMC2_HPC_PG_M2C_LS        LOC = AF29 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L21P_T3_DQS_14
NET  FLASH_A6                  LOC = AG29 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L21N_T3_DQS_A06_D22_14
NET  FLASH_A5                  LOC = AK28 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L22P_T3_A05_D21_14
NET  FLASH_A4                  LOC = AK29 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L22N_T3_A04_D20_14
NET  FLASH_A3                  LOC = AF30 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L23P_T3_A03_D19_14
NET  FLASH_A2                  LOC = AG31 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L23N_T3_A02_D18_14
NET  FLASH_A1                  LOC = AH28 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L24P_T3_A01_D17_14
NET  FLASH_A0                  LOC = AJ28 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_L24N_T3_A00_D16_14
NET  FMC2_HPC_PRSNT_M2C_B_LS   LOC = AG32 | IOSTANDARD=LVCMOS18; # Bank  14 VCCO - VCC1V8_FPGA - IO_25_VRP_14
#NET  VRN_15                    LOC = AM38 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_0_VRN_15
NET  XADC_VAUX0P_R             LOC = AN38 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L1P_T0_AD0P_15
NET  XADC_VAUX0N_R             LOC = AP38 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L1N_T0_AD0N_15
NET  XADC_VAUX8P_R             LOC = AM41 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L2P_T0_AD8P_15
NET  XADC_VAUX8N_R             LOC = AM42 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L2N_T0_AD8N_15
NET  LCD_DB5_LS                LOC = AR38 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L3P_T0_DQS_AD1P_15
NET  LCD_DB6_LS                LOC = AR39 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L3N_T0_DQS_AD1N_15
NET  LCD_DB7_LS                LOC = AN40 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L4P_T0_15
NET  LCD_RS_LS                 LOC = AN41 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L4N_T0_15
NET  GPIO_LED_2_LS             LOC = AR37 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L5P_T0_AD9P_15
NET  GPIO_LED_3_LS             LOC = AT37 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L5N_T0_AD9N_15
NET  GPIO_LED_0_LS             LOC = AM39 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L6P_T0_15
NET  GPIO_LED_1_LS             LOC = AN39 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L6N_T0_VREF_15
NET  GPIO_SW_S                 LOC = AP40 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L7P_T1_AD2P_15
NET  GPIO_SW_N                 LOC = AR40 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L7N_T1_AD2N_15
NET  GPIO_LED_5_LS             LOC = AP41 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L8P_T1_AD10P_15
NET  GPIO_LED_6_LS             LOC = AP42 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L8N_T1_AD10N_15
#NET  4N920                     LOC = AT39 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L9P_T1_DQS_AD3P_15
NET  LCD_E_LS                  LOC = AT40 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L9N_T1_DQS_AD3N_15
NET  LCD_RW_LS                 LOC = AR42 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L10P_T1_AD11P_15
NET  LCD_DB4_LS                LOC = AT42 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L10N_T1_AD11N_15
NET  GPIO_LED_7_LS             LOC = AU39 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L11P_T1_SRCC_15
NET  GPIO_SW_C                 LOC = AV39 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L11N_T1_SRCC_15
NET  GPIO_SW_E                 LOC = AU38 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L12P_T1_MRCC_15
NET  PMBUS_ALERT_LS            LOC = AV38 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L12N_T1_MRCC_15
NET  CPU_RESET                 LOC = AV40 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L13P_T2_MRCC_15
NET  GPIO_SW_W                 LOC = AW40 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L13N_T2_MRCC_15
NET  PMBUS_DATA_LS             LOC = AY39 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L14P_T2_SRCC_15
#NET  4N923                     LOC = AY40 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L14N_T2_SRCC_15
NET  PMBUS_CLK_LS              LOC = AW37 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L15P_T2_DQS_15
NET  FLASH_ADV_B               LOC = AY37 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L15N_T2_DQS_ADV_B_15
NET  SM_FAN_PWM                LOC = BA37 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L16P_T2_A28_15
NET  SM_FAN_TACH               LOC = BB37 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L16N_T2_A27_15
#NET  4N917                     LOC = AW38 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L17P_T2_A26_15
#NET  4N916                     LOC = AY38 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L17N_T2_A25_15
NET  SFP_LOS_LS                LOC = BB38 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L18P_T2_A24_15
NET  FLASH_A23                 LOC = BB39 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L18N_T2_A23_15
NET  FLASH_A22                 LOC = BA39 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L19P_T3_A22_15
NET  FLASH_A21                 LOC = BA40 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L19N_T3_A21_VREF_15
NET  FLASH_A20                 LOC = AT41 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L20P_T3_A20_15
NET  FLASH_A19                 LOC = AU42 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L20N_T3_A19_15
NET  IIC_MUX_RESET_B_LS        LOC = AY42 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L21P_T3_DQS_15
NET  FLASH_A18                 LOC = BA42 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L21N_T3_DQS_A18_15
NET  FLASH_A17                 LOC = AU41 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L22P_T3_A17_15
NET  FLASH_A16                 LOC = AV41 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L22N_T3_A16_15
NET  FLASH_OE_B                LOC = BA41 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L23P_T3_FOE_B_15
NET  FLASH_FWE_B               LOC = BB41 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L23N_T3_FWE_B_15
NET  FLASH_A25                 LOC = AW41 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L24P_T3_RS1_15
NET  FLASH_A24                 LOC = AW42 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_L24N_T3_RS0_15
#NET  VRP_15                    LOC = AU37 | IOSTANDARD=LVCMOS18; # Bank  15 VCCO - VCC1V8_FPGA - IO_25_VRP_15
#NET  5N825                     LOC = Y34  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_0_VRN_16
NET  FMC2_HPC_HA14_P           LOC = AF35 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L1P_T0_16
NET  FMC2_HPC_HA14_N           LOC = AF36 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L1N_T0_16
NET  FMC2_HPC_HA15_P           LOC = AE37 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L2P_T0_16
NET  FMC2_HPC_HA15_N           LOC = AF37 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L2N_T0_16
NET  FMC2_HPC_HA12_P           LOC = AF34 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_16
NET  FMC2_HPC_HA12_N           LOC = AG34 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_16
NET  FMC2_HPC_HA20_P           LOC = AD36 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L4P_T0_16
NET  FMC2_HPC_HA20_N           LOC = AD37 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L4N_T0_16
NET  FMC2_HPC_HA19_P           LOC = AC35 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L5P_T0_16
NET  FMC2_HPC_HA19_N           LOC = AC36 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L5N_T0_16
NET  FMC2_HPC_HA16_P           LOC = AG36 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L6P_T0_16
NET  FMC2_HPC_HA16_N           LOC = AH36 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_16
NET  FMC2_HPC_HA23_P           LOC = Y37  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L7P_T1_16
NET  FMC2_HPC_HA23_N           LOC = AA37 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L7N_T1_16
NET  FMC2_HPC_HA22_P           LOC = Y35  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L8P_T1_16
NET  FMC2_HPC_HA22_N           LOC = AA36 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L8N_T1_16
NET  FMC2_HPC_HA18_P           LOC = AB36 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_16
NET  FMC2_HPC_HA18_N           LOC = AB37 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_16
NET  FMC2_HPC_HA21_P           LOC = AA34 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L10P_T1_16
NET  FMC2_HPC_HA21_N           LOC = AA35 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L10N_T1_16
NET  FMC2_HPC_HA06_P           LOC = AB31 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_16
NET  FMC2_HPC_HA06_N           LOC = AB32 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_16
NET  FMC2_HPC_HA00_CC_P        LOC = AB33 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_16
NET  FMC2_HPC_HA00_CC_N        LOC = AC33 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_16
NET  FMC2_HPC_HA01_CC_P        LOC = AD32 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_16
NET  FMC2_HPC_HA01_CC_N        LOC = AD33 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_16
NET  FMC2_HPC_HA17_CC_P        LOC = AC34 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_16
NET  FMC2_HPC_HA17_CC_N        LOC = AD35 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_16
NET  FMC2_HPC_HA13_P           LOC = AE32 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_16
NET  FMC2_HPC_HA13_N           LOC = AE33 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_16
NET  FMC2_HPC_HA10_P           LOC = AF31 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L16P_T2_16
NET  FMC2_HPC_HA10_N           LOC = AF32 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L16N_T2_16
NET  FMC2_HPC_HA11_P           LOC = AE34 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L17P_T2_16
NET  FMC2_HPC_HA11_N           LOC = AE35 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L17N_T2_16
NET  FMC2_HPC_HA09_P           LOC = AE29 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L18P_T2_16
NET  FMC2_HPC_HA09_N           LOC = AE30 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L18N_T2_16
NET  FMC2_HPC_HA05_P           LOC = Y32  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L19P_T3_16
NET  FMC2_HPC_HA05_N           LOC = Y33  | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_16
NET  FMC2_HPC_HA07_P           LOC = AC31 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L20P_T3_16
NET  FMC2_HPC_HA07_N           LOC = AD31 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L20N_T3_16
NET  FMC2_HPC_HA08_P           LOC = AA31 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_16
NET  FMC2_HPC_HA08_N           LOC = AA32 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_16
NET  FMC2_HPC_HA02_P           LOC = AC30 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L22P_T3_16
NET  FMC2_HPC_HA02_N           LOC = AD30 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L22N_T3_16
NET  FMC2_HPC_HA03_P           LOC = AA29 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L23P_T3_16
NET  FMC2_HPC_HA03_N           LOC = AA30 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L23N_T3_16
NET  FMC2_HPC_HA04_P           LOC = AB29 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L24P_T3_16
NET  FMC2_HPC_HA04_N           LOC = AC29 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_L24N_T3_16
#NET  5N826                     LOC = AB34 | IOSTANDARD=LVCMOS18; # Bank  16 VCCO - VADJ_FPGA - IO_25_VRP_16
#NET  5N830                     LOC = Y38  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_0_VRN_17
NET  FMC2_HPC_LA10_P           LOC = AB41 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L1P_T0_17
NET  FMC2_HPC_LA10_N           LOC = AB42 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L1N_T0_17
NET  FMC2_HPC_LA13_P           LOC = W40  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L2P_T0_17
NET  FMC2_HPC_LA13_N           LOC = Y40  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L2N_T0_17
NET  FMC2_HPC_LA12_P           LOC = Y39  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_17
NET  FMC2_HPC_LA12_N           LOC = AA39 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_17
NET  FMC2_HPC_LA11_P           LOC = Y42  | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L4P_T0_17
NET  FMC2_HPC_LA11_N           LOC = AA42 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L4N_T0_17
NET  FMC2_HPC_LA14_P           LOC = AB38 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L5P_T0_17
NET  FMC2_HPC_LA14_N           LOC = AB39 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L5N_T0_17
#NET  5N961                     LOC = AA40 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L6P_T0_17
#NET  5N962                     LOC = AA41 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_17
NET  FMC2_HPC_LA15_P           LOC = AC38 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L7P_T1_17
NET  FMC2_HPC_LA15_N           LOC = AC39 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L7N_T1_17
NET  FMC2_HPC_LA08_P           LOC = AD42 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L8P_T1_17
NET  FMC2_HPC_LA08_N           LOC = AE42 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L8N_T1_17
NET  FMC2_HPC_LA06_P           LOC = AD38 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_17
NET  FMC2_HPC_LA06_N           LOC = AE38 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_17
NET  FMC2_HPC_LA07_P           LOC = AC40 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L10P_T1_17
NET  FMC2_HPC_LA07_N           LOC = AC41 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L10N_T1_17
#NET  5N964                     LOC = AE39 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_17
#NET  5N963                     LOC = AE40 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_17
NET  FMC2_HPC_LA00_CC_P        LOC = AD40 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_17
NET  FMC2_HPC_LA00_CC_N        LOC = AD41 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_17
NET  FMC2_HPC_CLK0_M2C_P       LOC = AF39 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_17
NET  FMC2_HPC_CLK0_M2C_N       LOC = AF40 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_17
NET  FMC2_HPC_LA01_CC_P        LOC = AF41 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_17
NET  FMC2_HPC_LA01_CC_N        LOC = AG41 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_17
#NET  5N959                     LOC = AG39 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_17
#NET  5N960                     LOC = AH39 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_17
NET  FMC2_HPC_LA05_P           LOC = AF42 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L16P_T2_17
NET  FMC2_HPC_LA05_N           LOC = AG42 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L16N_T2_17
#NET  5N957                     LOC = AG38 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L17P_T2_17
#NET  5N958                     LOC = AH38 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L17N_T2_17
NET  FMC2_HPC_LA09_P           LOC = AJ38 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L18P_T2_17
NET  FMC2_HPC_LA09_N           LOC = AK38 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L18N_T2_17
#NET  5N953                     LOC = AK40 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L19P_T3_17
#NET  5N954                     LOC = AL40 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_17
#NET  5N955                     LOC = AH40 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L20P_T3_17
#NET  5N956                     LOC = AH41 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L20N_T3_17
NET  FMC2_HPC_LA04_P           LOC = AL41 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_17
NET  FMC2_HPC_LA04_N           LOC = AL42 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_17
NET  FMC2_HPC_LA16_P           LOC = AJ40 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L22P_T3_17
NET  FMC2_HPC_LA16_N           LOC = AJ41 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L22N_T3_17
NET  FMC2_HPC_LA02_P           LOC = AK39 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L23P_T3_17
NET  FMC2_HPC_LA02_N           LOC = AL39 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L23N_T3_17
NET  FMC2_HPC_LA03_P           LOC = AJ42 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L24P_T3_17
NET  FMC2_HPC_LA03_N           LOC = AK42 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_L24N_T3_17
#NET  5N829                     LOC = AG37 | IOSTANDARD=LVCMOS18; # Bank  17 VCCO - VADJ_FPGA - IO_25_VRP_17
#NET  6N1095                    LOC = N35  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_0_VRN_18
#NET  6N1094                    LOC = T34  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L1P_T0_18
#NET  6N1093                    LOC = R35  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L1N_T0_18
NET  FMC2_HPC_LA26_P           LOC = N33  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L2P_T0_18
NET  FMC2_HPC_LA26_N           LOC = N34  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L2N_T0_18
NET  FMC2_HPC_LA25_P           LOC = R33  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_18
NET  FMC2_HPC_LA25_N           LOC = R34  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_18
NET  FMC2_HPC_LA21_P           LOC = P35  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L4P_T0_18
NET  FMC2_HPC_LA21_N           LOC = P36  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L4N_T0_18
NET  FMC2_HPC_LA30_P           LOC = T32  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L5P_T0_18
NET  FMC2_HPC_LA30_N           LOC = R32  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L5N_T0_18
NET  FMC2_HPC_LA27_P           LOC = P32  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L6P_T0_18
NET  FMC2_HPC_LA27_N           LOC = P33  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_18
NET  FMC2_HPC_LA33_P           LOC = T36  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L7P_T1_18
NET  FMC2_HPC_LA33_N           LOC = R37  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L7N_T1_18
NET  FMC2_HPC_LA32_P           LOC = P37  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L8P_T1_18
NET  FMC2_HPC_LA32_N           LOC = P38  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L8N_T1_18
NET  FMC2_HPC_LA24_P           LOC = U34  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_18
NET  FMC2_HPC_LA24_N           LOC = T35  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_18
NET  FMC2_HPC_LA23_P           LOC = R38  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L10P_T1_18
NET  FMC2_HPC_LA23_N           LOC = R39  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L10N_T1_18
NET  FMC2_HPC_LA17_CC_P        LOC = U37  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_18
NET  FMC2_HPC_LA17_CC_N        LOC = U38  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_18
NET  FMC2_HPC_CLK1_M2C_P       LOC = U39  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_18
NET  FMC2_HPC_CLK1_M2C_N       LOC = T39  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_18
NET  FMC2_HPC_LA18_CC_P        LOC = U36  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_18
NET  FMC2_HPC_LA18_CC_N        LOC = T37  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_18
NET  FMC2_HPC_LA28_P           LOC = V35  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_18
NET  FMC2_HPC_LA28_N           LOC = V36  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_18
NET  FMC2_HPC_LA20_P           LOC = V33  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_18
NET  FMC2_HPC_LA20_N           LOC = V34  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_18
NET  FMC2_HPC_LA29_P           LOC = W36  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L16P_T2_18
NET  FMC2_HPC_LA29_N           LOC = W37  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L16N_T2_18
NET  FMC2_HPC_LA19_P           LOC = U32  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L17P_T2_18
NET  FMC2_HPC_LA19_N           LOC = U33  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L17N_T2_18
NET  FMC2_HPC_LA22_P           LOC = W32  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L18P_T2_18
NET  FMC2_HPC_LA22_N           LOC = W33  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L18N_T2_18
NET  FMC2_HPC_LA31_P           LOC = V39  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L19P_T3_18
NET  FMC2_HPC_LA31_N           LOC = V40  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_18
#NET  6N1047                    LOC = T40  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L20P_T3_18
#NET  6N1048                    LOC = T41  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L20N_T3_18
#NET  6N1024                    LOC = W41  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_18
#NET  6N1025                    LOC = W42  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_18
#NET  6N1027                    LOC = U41  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L22P_T3_18
#NET  6N1026                    LOC = T42  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L22N_T3_18
#NET  6N1031                    LOC = W38  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L23P_T3_18
#NET  6N1030                    LOC = V38  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L23N_T3_18
#NET  6N1028                    LOC = V41  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L24P_T3_18
#NET  6N1029                    LOC = U42  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_L24N_T3_18
#NET  6N1023                    LOC = W35  | IOSTANDARD=LVCMOS18; # Bank  18 VCCO - VADJ_FPGA - IO_25_VRP_18
#NET  VRN_19                    LOC = L36  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_0_VRN_19
#NET  6N957                     LOC = E40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L1P_T0_19
#NET  6N958                     LOC = D40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L1N_T0_19
#NET  6N959                     LOC = A40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L2P_T0_19
#NET  6N960                     LOC = A41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L2N_T0_19
#NET  6N961                     LOC = D41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_19
#NET  6N963                     LOC = D42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_19
#NET  6N962                     LOC = B41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L4P_T0_19
#NET  6N964                     LOC = B42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L4N_T0_19
#NET  6N967                     LOC = F42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L5P_T0_19
#NET  6N968                     LOC = E42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L5N_T0_19
#NET  6N969                     LOC = C40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L6P_T0_19
#NET  6N970                     LOC = C41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_19
NET  FMC1_HPC_LA04_P           LOC = H40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L7P_T1_19
NET  FMC1_HPC_LA04_N           LOC = H41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L7N_T1_19
NET  FMC1_HPC_LA13_P           LOC = H39  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L8P_T1_19
NET  FMC1_HPC_LA13_N           LOC = G39  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L8N_T1_19
NET  FMC1_HPC_LA07_P           LOC = G41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_19
NET  FMC1_HPC_LA07_N           LOC = G42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_19
NET  FMC1_HPC_LA11_P           LOC = F40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L10P_T1_19
NET  FMC1_HPC_LA11_N           LOC = F41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L10N_T1_19
NET  FMC1_HPC_LA01_CC_P        LOC = J40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_19
NET  FMC1_HPC_LA01_CC_N        LOC = J41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_19
NET  FMC1_HPC_LA00_CC_P        LOC = K39  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_19
NET  FMC1_HPC_LA00_CC_N        LOC = K40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_19
NET  FMC1_HPC_CLK0_M2C_P       LOC = L39  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_19
NET  FMC1_HPC_CLK0_M2C_N       LOC = L40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_19
NET  FMC1_HPC_LA05_P           LOC = M41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_19
NET  FMC1_HPC_LA05_N           LOC = L41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_19
NET  FMC1_HPC_LA06_P           LOC = K42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_19
NET  FMC1_HPC_LA06_N           LOC = J42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_19
NET  FMC1_HPC_LA03_P           LOC = M42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L16P_T2_19
NET  FMC1_HPC_LA03_N           LOC = L42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L16N_T2_19
NET  FMC1_HPC_LA16_P           LOC = K37  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L17P_T2_19
NET  FMC1_HPC_LA16_N           LOC = K38  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L17N_T2_19
NET  FMC1_HPC_LA15_P           LOC = M36  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L18P_T2_19
NET  FMC1_HPC_LA15_N           LOC = L37  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L18N_T2_19
NET  FMC1_HPC_LA02_P           LOC = P41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L19P_T3_19
NET  FMC1_HPC_LA02_N           LOC = N41  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_19
NET  FMC1_HPC_LA08_P           LOC = M37  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L20P_T3_19
NET  FMC1_HPC_LA08_N           LOC = M38  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L20N_T3_19
NET  FMC1_HPC_LA09_P           LOC = R42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_19
NET  FMC1_HPC_LA09_N           LOC = P42  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_19
NET  FMC1_HPC_LA10_P           LOC = N38  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L22P_T3_19
NET  FMC1_HPC_LA10_N           LOC = M39  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L22N_T3_19
NET  FMC1_HPC_LA12_P           LOC = R40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L23P_T3_19
NET  FMC1_HPC_LA12_N           LOC = P40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L23N_T3_19
NET  FMC1_HPC_LA14_P           LOC = N39  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L24P_T3_19
NET  FMC1_HPC_LA14_N           LOC = N40  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_L24N_T3_19
#NET  VRP_19                    LOC = N36  | IOSTANDARD=LVCMOS18; # Bank  19 VCCO - VADJ_FPGA - IO_25_VRP_19
#NET  VRN_33                    LOC = AL24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_0_VRN_33
NET  HDMI_R_D11                LOC = AJ23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L1P_T0_33
NET  HDMI_R_D10                LOC = AK23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L1N_T0_33
NET  HDMI_R_D9                 LOC = AK20 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L2P_T0_33
NET  HDMI_R_D8                 LOC = AL20 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L2N_T0_33
NET  HDMI_R_D7                 LOC = AJ22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L3P_T0_DQS_33
NET  HDMI_R_D6                 LOC = AK22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L3N_T0_DQS_33
NET  HDMI_R_D5                 LOC = AL21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L4P_T0_33
NET  HDMI_R_D4                 LOC = AM21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L4N_T0_33
NET  HDMI_R_D3                 LOC = AJ21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L5P_T0_33
NET  HDMI_R_D2                 LOC = AJ20 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L5N_T0_33
NET  HDMI_R_D1                 LOC = AL22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L6P_T0_33
NET  HDMI_R_D0                 LOC = AM22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L6N_T0_VREF_33
NET  HDMI_INT                  LOC = AM24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L7P_T1_33
NET  HDMI_R_D17                LOC = AN24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L7N_T1_33
NET  HDMI_R_D16                LOC = AM23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L8P_T1_33
NET  HDMI_R_D15                LOC = AN23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L8N_T1_33
NET  HDMI_R_D14                LOC = AP23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L9P_T1_DQS_33
NET  HDMI_R_D13                LOC = AP22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L9N_T1_DQS_33
NET  HDMI_R_D12                LOC = AN21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L10P_T1_33
NET  HDMI_R_DE                 LOC = AP21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L10N_T1_33
NET  HDMI_R_SPDIF              LOC = AR23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L11P_T1_SRCC_33
NET  HDMI_SPDIF_OUT_LS         LOC = AR22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L11N_T1_SRCC_33
NET  HDMI_R_VSYNC              LOC = AT22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L12P_T1_MRCC_33
NET  HDMI_R_HSYNC              LOC = AU22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L12N_T1_MRCC_33
NET  HDMI_R_CLK                LOC = AU23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L13P_T2_MRCC_33
NET  HDMI_R_D35                LOC = AV23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L13N_T2_MRCC_33
NET  HDMI_R_D34                LOC = AW23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L14P_T2_SRCC_33
NET  HDMI_R_D33                LOC = AW22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L14N_T2_SRCC_33
NET  HDMI_R_D32                LOC = AT21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L15P_T2_DQS_33
NET  HDMI_R_D31                LOC = AU21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L15N_T2_DQS_33
NET  HDMI_R_D30                LOC = AR24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L16P_T2_33
NET  HDMI_R_D29                LOC = AT24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L16N_T2_33
NET  HDMI_R_D28                LOC = AV21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L17P_T2_33
NET  HDMI_R_D27                LOC = AW21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L17N_T2_33
NET  HDMI_R_D26                LOC = AU24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L18P_T2_33
NET  HDMI_R_D25                LOC = AV24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L18N_T2_33
NET  HDMI_R_D24                LOC = AY23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L19P_T3_33
NET  HDMI_R_D23                LOC = AY22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L19N_T3_VREF_33
NET  HDMI_R_D22                LOC = AY25 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L20P_T3_33
NET  HDMI_R_D21                LOC = BA25 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L20N_T3_33
NET  HDMI_R_D20                LOC = BA22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L21P_T3_DQS_33
NET  HDMI_R_D19                LOC = BB22 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L21N_T3_DQS_33
NET  HDMI_R_D18                LOC = AY24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L22P_T3_33
#NET  7N1099                    LOC = BA24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L22N_T3_33
NET  XADC_GPIO_0               LOC = BA21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L23P_T3_33
NET  XADC_GPIO_1               LOC = BB21 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L23N_T3_33
NET  XADC_GPIO_2               LOC = BB24 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L24P_T3_33
NET  XADC_GPIO_3               LOC = BB23 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_L24N_T3_33
#NET  VRP_33                    LOC = AN20 | IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V8_FPGA - IO_25_VRP_33
#NET  VRN_34                    LOC = R29  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_0_VRN_34
#NET  8N640                     LOC = K35  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L1P_T0_34
#NET  8N641                     LOC = J35  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L1N_T0_34
#NET  8N635                     LOC = J32  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L2P_T0_34
#NET  8N636                     LOC = J33  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L2N_T0_34
#NET  8N637                     LOC = K33  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_34
#NET  8N646                     LOC = K34  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_34
#NET  8N634                     LOC = L34  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L4P_T0_34
#NET  8N649                     LOC = L35  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L4N_T0_34
#NET  8N648                     LOC = M33  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L5P_T0_34
#NET  8N651                     LOC = M34  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L5N_T0_34
#NET  8N650                     LOC = H34  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L6P_T0_34
#NET  8N652                     LOC = H35  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_34
NET  FMC1_HPC_LA25_P           LOC = K29  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L7P_T1_34
NET  FMC1_HPC_LA25_N           LOC = K30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L7N_T1_34
NET  FMC1_HPC_LA26_P           LOC = J30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L8P_T1_34
NET  FMC1_HPC_LA26_N           LOC = H30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L8N_T1_34
NET  FMC1_HPC_LA28_P           LOC = L29  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_34
NET  FMC1_HPC_LA28_N           LOC = L30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_34
NET  FMC1_HPC_LA27_P           LOC = J31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L10P_T1_34
NET  FMC1_HPC_LA27_N           LOC = H31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L10N_T1_34
NET  FMC1_HPC_LA18_CC_P        LOC = M32  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_34
NET  FMC1_HPC_LA18_CC_N        LOC = L32  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_34
NET  FMC1_HPC_LA17_CC_P        LOC = L31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_34
NET  FMC1_HPC_LA17_CC_N        LOC = K32  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_34
NET  FMC1_HPC_CLK1_M2C_P       LOC = N30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_34
NET  FMC1_HPC_CLK1_M2C_N       LOC = M31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_34
NET  FMC1_HPC_LA23_P           LOC = P30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_34
NET  FMC1_HPC_LA23_N           LOC = N31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_34
NET  FMC1_HPC_LA31_P           LOC = M28  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_34
NET  FMC1_HPC_LA31_N           LOC = M29  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_34
NET  FMC1_HPC_LA22_P           LOC = R28  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L16P_T2_34
NET  FMC1_HPC_LA22_N           LOC = P28  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L16N_T2_34
NET  FMC1_HPC_LA21_P           LOC = N28  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L17P_T2_34
NET  FMC1_HPC_LA21_N           LOC = N29  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L17N_T2_34
NET  FMC1_HPC_LA24_P           LOC = R30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L18P_T2_34
NET  FMC1_HPC_LA24_N           LOC = P31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L18N_T2_34
NET  FMC1_HPC_LA33_P           LOC = U31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L19P_T3_34
NET  FMC1_HPC_LA33_N           LOC = T31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_34
NET  FMC1_HPC_LA30_P           LOC = V30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L20P_T3_34
NET  FMC1_HPC_LA30_N           LOC = V31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L20N_T3_34
NET  FMC1_HPC_LA29_P           LOC = T29  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_34
NET  FMC1_HPC_LA29_N           LOC = T30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_34
NET  FMC1_HPC_LA19_P           LOC = W30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L22P_T3_34
NET  FMC1_HPC_LA19_N           LOC = W31  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L22N_T3_34
NET  FMC1_HPC_LA32_P           LOC = V29  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L23P_T3_34
NET  FMC1_HPC_LA32_N           LOC = U29  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L23N_T3_34
NET  FMC1_HPC_LA20_P           LOC = Y29  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L24P_T3_34
NET  FMC1_HPC_LA20_N           LOC = Y30  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_L24N_T3_34
#NET  VRP_34                    LOC = U28  | IOSTANDARD=LVCMOS18; # Bank  34 VCCO - VADJ_FPGA - IO_25_VRP_34
#NET  8N545                     LOC = G31  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_0_VRN_35
NET  FMC1_HPC_HA13_P           LOC = B36  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L1P_T0_35
NET  FMC1_HPC_HA13_N           LOC = A37  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L1N_T0_35
NET  FMC1_HPC_HA20_P           LOC = B34  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L2P_T0_AD4P_35
NET  FMC1_HPC_HA20_N           LOC = A34  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L2N_T0_AD4N_35
NET  FMC1_HPC_HA16_P           LOC = B39  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_AD12P_35
NET  FMC1_HPC_HA16_N           LOC = A39  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_AD12N_35
NET  FMC1_HPC_HA23_P           LOC = A35  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L4P_T0_AD5P_35
NET  FMC1_HPC_HA23_N           LOC = A36  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L4N_T0_AD5N_35
NET  FMC1_HPC_HA07_P           LOC = C38  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L5P_T0_AD13P_35
NET  FMC1_HPC_HA07_N           LOC = C39  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L5N_T0_AD13N_35
NET  FMC1_HPC_HA12_P           LOC = B37  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L6P_T0_35
NET  FMC1_HPC_HA12_N           LOC = B38  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_35
NET  FMC1_HPC_HA09_P           LOC = E32  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L7P_T1_AD6P_35
NET  FMC1_HPC_HA09_N           LOC = D32  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L7N_T1_AD6N_35
NET  FMC1_HPC_HA19_P           LOC = B32  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L8P_T1_AD14P_35
NET  FMC1_HPC_HA19_N           LOC = B33  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L8N_T1_AD14N_35
NET  FMC1_HPC_HA02_P           LOC = E33  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_AD7P_35
NET  FMC1_HPC_HA02_N           LOC = D33  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_AD7N_35
NET  FMC1_HPC_HA15_P           LOC = C33  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L10P_T1_AD15P_35
NET  FMC1_HPC_HA15_N           LOC = C34  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L10N_T1_AD15N_35
NET  FMC1_HPC_HA01_CC_P        LOC = D35  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_35
NET  FMC1_HPC_HA01_CC_N        LOC = D36  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_35
NET  FMC1_HPC_HA17_CC_P        LOC = C35  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L12P_T1_MRCC_35
NET  FMC1_HPC_HA17_CC_N        LOC = C36  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L12N_T1_MRCC_35
NET  FMC1_HPC_HA00_CC_P        LOC = E34  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L13P_T2_MRCC_35
NET  FMC1_HPC_HA00_CC_N        LOC = E35  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L13N_T2_MRCC_35
NET  FMC1_HPC_HA21_P           LOC = D37  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_35
NET  FMC1_HPC_HA21_N           LOC = D38  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_35
NET  FMC1_HPC_HA05_P           LOC = G32  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_35
NET  FMC1_HPC_HA05_N           LOC = F32  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_35
NET  FMC1_HPC_HA22_P           LOC = F36  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L16P_T2_35
NET  FMC1_HPC_HA22_N           LOC = F37  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L16N_T2_35
NET  FMC1_HPC_HA04_P           LOC = F34  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L17P_T2_35
NET  FMC1_HPC_HA04_N           LOC = F35  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L17N_T2_35
NET  FMC1_HPC_HA03_P           LOC = H33  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L18P_T2_35
NET  FMC1_HPC_HA03_N           LOC = G33  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L18N_T2_35
NET  FMC1_HPC_HA14_P           LOC = E37  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L19P_T3_35
NET  FMC1_HPC_HA14_N           LOC = E38  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_35
NET  FMC1_HPC_HA06_P           LOC = G36  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L20P_T3_35
NET  FMC1_HPC_HA06_N           LOC = G37  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L20N_T3_35
NET  FMC1_HPC_HA18_P           LOC = F39  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_35
NET  FMC1_HPC_HA18_N           LOC = E39  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_35
NET  FMC1_HPC_HA11_P           LOC = J37  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L22P_T3_35
NET  FMC1_HPC_HA11_N           LOC = J38  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L22N_T3_35
NET  FMC1_HPC_HA10_P           LOC = H38  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L23P_T3_35
NET  FMC1_HPC_HA10_N           LOC = G38  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L23N_T3_35
NET  FMC1_HPC_HA08_P           LOC = J36  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L24P_T3_35
NET  FMC1_HPC_HA08_N           LOC = H36  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_L24N_T3_35
#NET  8N546                     LOC = G34  | IOSTANDARD=LVCMOS18; # Bank  35 VCCO - VADJ_FPGA - IO_25_VRP_35
#NET  9N472                     LOC = M23  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_0_VRN_36
NET  FMC1_HPC_HB04_P           LOC = H24  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L1P_T0_36
NET  FMC1_HPC_HB04_N           LOC = G24  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L1N_T0_36
NET  FMC1_HPC_HB14_P           LOC = J21  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L2P_T0_36
NET  FMC1_HPC_HB14_N           LOC = H21  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L2N_T0_36
NET  FMC1_HPC_HB08_P           LOC = H25  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L3P_T0_DQS_36
NET  FMC1_HPC_HB08_N           LOC = H26  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L3N_T0_DQS_36
NET  FMC1_HPC_HB18_P           LOC = G21  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L4P_T0_36
NET  FMC1_HPC_HB18_N           LOC = G22  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L4N_T0_36
NET  FMC1_HPC_HB07_P           LOC = G26  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L5P_T0_36
NET  FMC1_HPC_HB07_N           LOC = G27  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L5N_T0_36
NET  FMC1_HPC_HB09_P           LOC = H23  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L6P_T0_36
NET  FMC1_HPC_HB09_N           LOC = G23  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L6N_T0_VREF_36
NET  FMC1_HPC_HB03_P           LOC = G28  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L7P_T1_36
NET  FMC1_HPC_HB03_N           LOC = G29  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L7N_T1_36
NET  FMC1_HPC_HB02_P           LOC = K28  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L8P_T1_36
NET  FMC1_HPC_HB02_N           LOC = J28  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L8N_T1_36
NET  FMC1_HPC_HB01_P           LOC = H28  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L9P_T1_DQS_36
NET  FMC1_HPC_HB01_N           LOC = H29  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L9N_T1_DQS_36
NET  FMC1_HPC_HB05_P           LOC = K27  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L10P_T1_36
NET  FMC1_HPC_HB05_N           LOC = J27  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L10N_T1_36
NET  FMC1_HPC_HB12_P           LOC = K24  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L11P_T1_SRCC_36
NET  FMC1_HPC_HB12_N           LOC = K25  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L11N_T1_SRCC_36
NET  FMC1_HPC_HB00_CC_P        LOC = J25  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L12P_T1_MRCC_36
NET  FMC1_HPC_HB00_CC_N        LOC = J26  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L12N_T1_MRCC_36
NET  FMC1_HPC_HB17_CC_P        LOC = M24  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L13P_T2_MRCC_36
NET  FMC1_HPC_HB17_CC_N        LOC = L24  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L13N_T2_MRCC_36
NET  FMC1_HPC_HB06_CC_P        LOC = K23  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L14P_T2_SRCC_36
NET  FMC1_HPC_HB06_CC_N        LOC = J23  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L14N_T2_SRCC_36
NET  FMC1_HPC_HB10_P           LOC = M22  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L15P_T2_DQS_36
NET  FMC1_HPC_HB10_N           LOC = L22  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L15N_T2_DQS_36
NET  FMC1_HPC_HB19_P           LOC = L25  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L16P_T2_36
NET  FMC1_HPC_HB19_N           LOC = L26  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L16N_T2_36
NET  FMC1_HPC_HB11_P           LOC = K22  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L17P_T2_36
NET  FMC1_HPC_HB11_N           LOC = J22  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L17N_T2_36
NET  FMC1_HPC_HB15_P           LOC = M21  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L18P_T2_36
NET  FMC1_HPC_HB15_N           LOC = L21  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L18N_T2_36
NET  FMC1_HPC_HB20_P           LOC = P21  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L19P_T3_36
NET  FMC1_HPC_HB20_N           LOC = N21  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L19N_T3_VREF_36
NET  FMC1_HPC_HB13_P           LOC = P25  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L20P_T3_36
NET  FMC1_HPC_HB13_N           LOC = P26  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L20N_T3_36
NET  FMC1_HPC_HB21_P           LOC = P22  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L21P_T3_DQS_36
NET  FMC1_HPC_HB21_N           LOC = P23  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L21N_T3_DQS_36
NET  FMC1_HPC_HB16_P           LOC = N25  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L22P_T3_36
NET  FMC1_HPC_HB16_N           LOC = N26  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L22N_T3_36
#NET  9N473                     LOC = N23  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L23P_T3_36
#NET  9N474                     LOC = N24  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L23N_T3_36
#NET  9N475                     LOC = M27  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L24P_T3_36
#NET  9N476                     LOC = L27  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_L24N_T3_36
#NET  9N477                     LOC = M26  | IOSTANDARD=LVCMOS18; # Bank  36 VCCO - FMC1_VIO_B_M2C - IO_25_VRP_36
#NET  VRN_37                    LOC = F21  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_0_VRN_37
NET  DDR3_D32                  LOC = A24  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L1P_T0_37
NET  DDR3_D38                  LOC = A25  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L1N_T0_37
NET  DDR3_D37                  LOC = B22  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L2P_T0_37
NET  DDR3_D36                  LOC = A22  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L2N_T0_37
NET  DDR3_DQS4_P               LOC = A26  | IOSTANDARD=DIFF_SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L3P_T0_DQS_37
NET  DDR3_DQS4_N               LOC = A27  | IOSTANDARD=DIFF_SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L3N_T0_DQS_37
NET  DDR3_DM4                  LOC = C23  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L4P_T0_37
NET  DDR3_D33                  LOC = B23  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L4N_T0_37
NET  DDR3_D35                  LOC = B26  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L5P_T0_37
NET  DDR3_D34                  LOC = B27  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L5N_T0_37
NET  DDR3_D39                  LOC = C24  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L6P_T0_37
#NET  VTTVREF                   LOC = B24  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L6N_T0_VREF_37
NET  DDR3_D44                  LOC = E23  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L7P_T1_37
NET  DDR3_D40                  LOC = E24  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L7N_T1_37
NET  DDR3_D46                  LOC = F22  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L8P_T1_37
NET  DDR3_D47                  LOC = E22  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L8N_T1_37
NET  DDR3_DQS5_P               LOC = F25  | IOSTANDARD=DIFF_SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L9P_T1_DQS_37
NET  DDR3_DQS5_N               LOC = E25  | IOSTANDARD=DIFF_SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L9N_T1_DQS_37
NET  DDR3_D45                  LOC = D22  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L10P_T1_37
NET  DDR3_D41                  LOC = D23  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L10N_T1_37
NET  DDR3_DM5                  LOC = D25  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L11P_T1_SRCC_37
NET  DDR3_D42                  LOC = D26  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L11N_T1_SRCC_37
NET  DDR3_D43                  LOC = C25  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L12P_T1_MRCC_37
#NET  9N541                     LOC = C26  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_37
NET  DDR3_D49                  LOC = D27  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L13P_T2_MRCC_37
NET  DDR3_D52                  LOC = D28  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L13N_T2_MRCC_37
NET  DDR3_D51                  LOC = C28  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L14P_T2_SRCC_37
NET  DDR3_RESET_B              LOC = C29  | IOSTANDARD=LVCMOS15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L14N_T2_SRCC_37
NET  DDR3_DQS6_P               LOC = B28  | IOSTANDARD=DIFF_SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L15P_T2_DQS_37
NET  DDR3_DQS6_N               LOC = B29  | IOSTANDARD=DIFF_SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L15N_T2_DQS_37
NET  DDR3_D54                  LOC = A31  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L16P_T2_37
NET  DDR3_D55                  LOC = A32  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L16N_T2_37
NET  DDR3_D50                  LOC = A29  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L17P_T2_37
NET  DDR3_D48                  LOC = A30  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L17N_T2_37
NET  DDR3_DM6                  LOC = C31  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L18P_T2_37
NET  DDR3_D53                  LOC = B31  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L18N_T2_37
NET  DDR3_D56                  LOC = E30  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L19P_T3_37
#NET  VTTVREF                   LOC = D31  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L19N_T3_VREF_37
NET  DDR3_D63                  LOC = D30  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L20P_T3_37
NET  DDR3_D60                  LOC = C30  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L20N_T3_37
NET  DDR3_DQS7_P               LOC = E27  | IOSTANDARD=DIFF_SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L21P_T3_DQS_37
NET  DDR3_DQS7_N               LOC = E28  | IOSTANDARD=DIFF_SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L21N_T3_DQS_37
NET  DDR3_D57                  LOC = F29  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L22P_T3_37
NET  DDR3_D61                  LOC = E29  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L22N_T3_37
NET  DDR3_D62                  LOC = F26  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L23P_T3_37
NET  DDR3_D59                  LOC = F27  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L23N_T3_37
NET  DDR3_D58                  LOC = F30  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L24P_T3_37
NET  DDR3_DM7                  LOC = F31  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_L24N_T3_37
#NET  VRP_37                    LOC = F24  | IOSTANDARD=SSTL15; # Bank  37 VCCO - VCC1V5_FPGA - IO_25_VRP_37
#NET  VRN_38                    LOC = K18  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_0_VRN_38
NET  DDR3_A9                   LOC = C19  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L1P_T0_38
NET  DDR3_A1                   LOC = B19  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L1N_T0_38
NET  DDR3_A5                   LOC = A16  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L2P_T0_38
NET  DDR3_A12                  LOC = A15  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L2N_T0_38
NET  DDR3_A0                   LOC = A20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L3P_T0_DQS_38
NET  DDR3_A3                   LOC = A19  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L3N_T0_DQS_38
NET  DDR3_A11                  LOC = B17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L4P_T0_38
NET  DDR3_A4                   LOC = A17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L4N_T0_38
NET  DDR3_A10                  LOC = B21  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L5P_T0_38
NET  DDR3_A13                  LOC = A21  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L5N_T0_38
NET  DDR3_A7                   LOC = C18  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L6P_T0_38
NET  VTTVREF                   LOC = B18  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L6N_T0_VREF_38
NET  DDR3_A6                   LOC = D20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L7P_T1_38
NET  DDR3_A2                   LOC = C20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L7N_T1_38
NET  DDR3_A14                  LOC = F17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L8P_T1_38
NET  DDR3_A15                  LOC = E17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L8N_T1_38
NET  DDR3_BA0                  LOC = D21  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L9P_T1_DQS_38
NET  DDR3_BA1                  LOC = C21  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L9N_T1_DQS_38
NET  DDR3_BA2                  LOC = D18  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L10P_T1_38
NET  DDR3_A8                   LOC = D17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L10N_T1_38
NET  DDR3_CLK1_P               LOC = G19  | IOSTANDARD=DIFF_SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L11P_T1_SRCC_38
NET  DDR3_CLK1_N               LOC = F19  | IOSTANDARD=DIFF_SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L11N_T1_SRCC_38
NET  SYSCLK_P                  LOC = E19  | IOSTANDARD=LVDS; # Bank  38 VCCO - VCC1V5_FPGA - IO_L12P_T1_MRCC_38
NET  SYSCLK_N                  LOC = E18  | IOSTANDARD=LVDS; # Bank  38 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_38
NET  DDR3_CLK0_P               LOC = H19  | IOSTANDARD=DIFF_SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L13P_T2_MRCC_38
NET  DDR3_CLK0_N               LOC = G18  | IOSTANDARD=DIFF_SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L13N_T2_MRCC_38
NET  DDR3_CKE0                 LOC = K19  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L14P_T2_SRCC_38
NET  DDR3_CKE1                 LOC = J18  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L14N_T2_SRCC_38
NET  DDR3_WE_B                 LOC = F20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L15P_T2_DQS_38
NET  DDR3_RAS_B                LOC = E20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L15N_T2_DQS_38
NET  DDR3_CAS_B                LOC = K17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L16P_T2_38
NET  DDR3_S0_B                 LOC = J17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L16N_T2_38
NET  DDR3_S1_B                 LOC = J20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L17P_T2_38
NET  DDR3_ODT0                 LOC = H20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L17N_T2_38
NET  DDR3_ODT1                 LOC = H18  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L18P_T2_38
NET  DDR3_TEMP_EVENT           LOC = G17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L18N_T2_38
#NET  10N481                    LOC = P18  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L19P_T3_38
#NET  VTTVREF                   LOC = P17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L19N_T3_VREF_38
NET  10N483                    LOC = M17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L20P_T3_38
NET  10N484                    LOC = L17  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L20N_T3_38
NET  10N485                    LOC = N19  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L21P_T3_DQS_38
NET  10N486                    LOC = N18  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L21N_T3_DQS_38
NET  10N487                    LOC = M19  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L22P_T3_38
NET  10N488                    LOC = M18  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L22N_T3_38
NET  10N489                    LOC = P20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L23P_T3_38
NET  10N490                    LOC = N20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L23N_T3_38
NET  10N491                    LOC = L20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L24P_T3_38
NET  10N492                    LOC = L19  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_L24N_T3_38
#NET  VRP_38                    LOC = K20  | IOSTANDARD=SSTL15; # Bank  38 VCCO - VCC1V5_FPGA - IO_25_VRP_38
#NET  VRN_39                    LOC = J16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_0_VRN_39
NET  DDR3_D30                  LOC = C16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L1P_T0_39
NET  DDR3_D26                  LOC = B16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L1N_T0_39
NET  DDR3_D24                  LOC = B14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L2P_T0_39
NET  DDR3_DM3                  LOC = A14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L2N_T0_39
NET  DDR3_DQS3_P               LOC = C15  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L3P_T0_DQS_39
NET  DDR3_DQS3_N               LOC = C14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L3N_T0_DQS_39
NET  DDR3_D28                  LOC = D13  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L4P_T0_39
NET  DDR3_D25                  LOC = C13  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L4N_T0_39
NET  DDR3_D31                  LOC = D16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L5P_T0_39
NET  DDR3_D27                  LOC = D15  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L5N_T0_39
NET  DDR3_D29                  LOC = E12  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L6P_T0_39
#NET  VTTVREF                   LOC = D12  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L6N_T0_VREF_39
#NET  10N563                    LOC = F16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L7P_T1_39
NET  DDR3_D16                  LOC = E15  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L7N_T1_39
NET  DDR3_D19                  LOC = E14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L8P_T1_39
NET  DDR3_D17                  LOC = E13  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L8N_T1_39
NET  DDR3_DQS2_P               LOC = H16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L9P_T1_DQS_39
NET  DDR3_DQS2_N               LOC = G16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L9N_T1_DQS_39
NET  DDR3_D21                  LOC = G12  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L10P_T1_39
NET  DDR3_DM2                  LOC = F12  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L10N_T1_39
NET  DDR3_D18                  LOC = F15  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L11P_T1_SRCC_39
NET  DDR3_D22                  LOC = F14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L11N_T1_SRCC_39
NET  DDR3_D23                  LOC = G14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L12P_T1_MRCC_39
NET  DDR3_D20                  LOC = G13  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_39
#NET  10N497                    LOC = H15  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L13P_T2_MRCC_39
NET  DDR3_D14                  LOC = H14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L13N_T2_MRCC_39
NET  DDR3_D11                  LOC = J13  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L14P_T2_SRCC_39
NET  DDR3_D10                  LOC = H13  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L14N_T2_SRCC_39
NET  DDR3_DQS1_P               LOC = K12  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L15P_T2_DQS_39
NET  DDR3_DQS1_N               LOC = J12  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L15N_T2_DQS_39
NET  DDR3_DM1                  LOC = K15  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L16P_T2_39
NET  DDR3_D15                  LOC = J15  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L16N_T2_39
NET  DDR3_D8                   LOC = K14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L17P_T2_39
NET  DDR3_D9                   LOC = K13  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L17N_T2_39
NET  DDR3_D12                  LOC = L16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L18P_T2_39
NET  DDR3_D13                  LOC = L15  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L18N_T2_39
NET  DDR3_D7                   LOC = L12  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L19P_T3_39
#NET  VTTVREF                   LOC = L11  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L19N_T3_VREF_39
NET  DDR3_D3                   LOC = M14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L20P_T3_39
NET  DDR3_D2                   LOC = L14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L20N_T3_39
NET  DDR3_DQS0_P               LOC = N16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L21P_T3_DQS_39
NET  DDR3_DQS0_N               LOC = M16  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L21N_T3_DQS_39
NET  DDR3_D1                   LOC = N13  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L22P_T3_39
NET  DDR3_DM0                  LOC = M13  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L22N_T3_39
NET  DDR3_D5                   LOC = N15  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L23P_T3_39
NET  DDR3_D0                   LOC = N14  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L23N_T3_39
NET  DDR3_D4                   LOC = M12  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L24P_T3_39
NET  DDR3_D6                   LOC = M11  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_L24N_T3_39
NET  VRP_39                    LOC = J11  | IOSTANDARD=SSTL15; # Bank  39 VCCO - VCC1V5_FPGA - IO_25_VRP_39
#NET  12N119                    LOC = AW2                       ; # Bank 111                 - MGTXTXP3_111
#NET  GND                       LOC = AW6                       ; # Bank 111                 - MGTXRXP3_111
#NET  12N118                    LOC = AW1                       ; # Bank 111                 - MGTXTXN3_111
#NET  GND                       LOC = AW5                       ; # Bank 111                 - MGTXRXN3_111
#NET  12N121                    LOC = AY4                       ; # Bank 111                 - MGTXTXP2_111
#NET  GND                       LOC = AY8                       ; # Bank 111                 - MGTXRXP2_111
#NET  12N120                    LOC = AY3                       ; # Bank 111                 - MGTXTXN2_111
#NET  12N117                    LOC = AW10                      ; # Bank 111                 - MGTREFCLK0P_111
#NET  GND                       LOC = AY7                       ; # Bank 111                 - MGTXRXN2_111
#NET  12N116                    LOC = AW9                       ; # Bank 111                 - MGTREFCLK0N_111
#NET  12N115                    LOC = BA9                       ; # Bank 111                 - MGTREFCLK1N_111
#NET  12N114                    LOC = BA10                      ; # Bank 111                 - MGTREFCLK1P_111
#NET  12N123                    LOC = BA2                       ; # Bank 111                 - MGTXTXP1_111
#NET  GND                       LOC = BA6                       ; # Bank 111                 - MGTXRXP1_111
#NET  12N122                    LOC = BA1                       ; # Bank 111                 - MGTXTXN1_111
#NET  GND                       LOC = BA5                       ; # Bank 111                 - MGTXRXN1_111
#NET  12N125                    LOC = BB4                       ; # Bank 111                 - MGTXTXP0_111
#NET  GND                       LOC = BB8                       ; # Bank 111                 - MGTXRXP0_111
#NET  12N124                    LOC = BB3                       ; # Bank 111                 - MGTXTXN0_111
#NET  GND                       LOC = BB7                       ; # Bank 111                 - MGTXRXN0_111
#NET  12N132                    LOC = AR2                       ; # Bank 112                 - MGTXTXP3_112
#NET  GND                       LOC = AP8                       ; # Bank 112                 - MGTXRXP3_112
#NET  12N133                    LOC = AR1                       ; # Bank 112                 - MGTXTXN3_112
#NET  GND                       LOC = AP7                       ; # Bank 112                 - MGTXRXN3_112
#NET  12N134                    LOC = AT4                       ; # Bank 112                 - MGTXTXP2_112
#NET  GND                       LOC = AR6                       ; # Bank 112                 - MGTXRXP2_112
#NET  12N135                    LOC = AT3                       ; # Bank 112                 - MGTXTXN2_112
#NET  12N130                    LOC = AT8                       ; # Bank 112                 - MGTREFCLK0P_112
#NET  GND                       LOC = AR5                       ; # Bank 112                 - MGTXRXN2_112
#NET  12N131                    LOC = AT7                       ; # Bank 112                 - MGTREFCLK0N_112
#NET  12N5                      LOC = W9                        ; # Bank 112                 - MGTRREF_112
#NET  12N128                    LOC = AU9                       ; # Bank 112                 - MGTREFCLK1N_112
#NET  12N129                    LOC = AU10                      ; # Bank 112                 - MGTREFCLK1P_112
#NET  12N136                    LOC = AU2                       ; # Bank 112                 - MGTXTXP1_112
#NET  GND                       LOC = AU6                       ; # Bank 112                 - MGTXRXP1_112
#NET  12N137                    LOC = AU1                       ; # Bank 112                 - MGTXTXN1_112
#NET  GND                       LOC = AU5                       ; # Bank 112                 - MGTXRXN1_112
#NET  12N138                    LOC = AV4                       ; # Bank 112                 - MGTXTXP0_112
#NET  GND                       LOC = AV8                       ; # Bank 112                 - MGTXRXP0_112
#NET  12N139                    LOC = AV3                       ; # Bank 112                 - MGTXTXN0_112
#NET  GND                       LOC = AV7                       ; # Bank 112                 - MGTXRXN0_112
#NET  13N97                     LOC = AL2                       ; # Bank 113                 - MGTXTXP3_113
#NET  13N95                     LOC = AJ6                       ; # Bank 113                 - MGTXRXP3_113
#NET  13N96                     LOC = AL1                       ; # Bank 113                 - MGTXTXN3_113
#NET  13N94                     LOC = AJ5                       ; # Bank 113                 - MGTXRXN3_113
NET  SFP_TX_P                  LOC = AM4                       ; # Bank 113                 - MGTXTXP2_113
NET  SFP_RX_P                  LOC = AL6                       ; # Bank 113                 - MGTXRXP2_113
NET  SFP_TX_N                  LOC = AM3                       ; # Bank 113                 - MGTXTXN2_113
NET  SGMIICLK_Q0_P             LOC = AH8                       ; # Bank 113                 - MGTREFCLK0P_113
NET  SFP_RX_N                  LOC = AL5                       ; # Bank 113                 - MGTXRXN2_113
NET  SGMIICLK_Q0_N             LOC = AH7                       ; # Bank 113                 - MGTREFCLK0N_113
NET  SMA_MGT_REFCLK_N          LOC = AK7                       ; # Bank 113                 - MGTREFCLK1N_113
NET  SMA_MGT_REFCLK_P          LOC = AK8                       ; # Bank 113                 - MGTREFCLK1P_113
NET  SGMII_TX_P                LOC = AN2                       ; # Bank 113                 - MGTXTXP1_113
NET  SGMII_RX_P                LOC = AM8                       ; # Bank 113                 - MGTXRXP1_113
NET  SGMII_TX_N                LOC = AN1                       ; # Bank 113                 - MGTXTXN1_113
NET  SGMII_RX_N                LOC = AM7                       ; # Bank 113                 - MGTXRXN1_113
NET  SMA_MGT_TX_P              LOC = AP4                       ; # Bank 113                 - MGTXTXP0_113
NET  SMA_MGT_RX_P              LOC = AN6                       ; # Bank 113                 - MGTXRXP0_113
NET  SMA_MGT_TX_N              LOC = AP3                       ; # Bank 113                 - MGTXTXN0_113
NET  SMA_MGT_RX_N              LOC = AN5                       ; # Bank 113                 - MGTXRXN0_113
NET  PCIE_TX4_P                LOC = AG2                       ; # Bank 114                 - MGTXTXP3_114
NET  PCIE_RX4_P                LOC = AD4                       ; # Bank 114                 - MGTXRXP3_114
NET  PCIE_TX4_N                LOC = AG1                       ; # Bank 114                 - MGTXTXN3_114
NET  PCIE_RX4_N                LOC = AD3                       ; # Bank 114                 - MGTXRXN3_114
NET  PCIE_TX5_P                LOC = AH4                       ; # Bank 114                 - MGTXTXP2_114
NET  PCIE_RX5_P                LOC = AE6                       ; # Bank 114                 - MGTXRXP2_114
NET  PCIE_TX5_N                LOC = AH3                       ; # Bank 114                 - MGTXTXN2_114
NET  SI5324_OUT_C_P            LOC = AD8                       ; # Bank 114                 - MGTREFCLK0P_114
NET  PCIE_RX5_N                LOC = AE5                       ; # Bank 114                 - MGTXRXN2_114
NET  SI5324_OUT_C_N            LOC = AD7                       ; # Bank 114                 - MGTREFCLK0N_114
#NET  13N40                     LOC = AF7                       ; # Bank 114                 - MGTREFCLK1N_114
#NET  13N41                     LOC = AF8                       ; # Bank 114                 - MGTREFCLK1P_114
NET  PCIE_TX6_P                LOC = AJ2                       ; # Bank 114                 - MGTXTXP1_114
NET  PCIE_RX6_P                LOC = AF4                       ; # Bank 114                 - MGTXRXP1_114
NET  PCIE_TX6_N                LOC = AJ1                       ; # Bank 114                 - MGTXTXN1_114
NET  PCIE_RX6_N                LOC = AF3                       ; # Bank 114                 - MGTXRXN1_114
NET  PCIE_TX7_P                LOC = AK4                       ; # Bank 114                 - MGTXTXP0_114
NET  PCIE_RX7_P                LOC = AG6                       ; # Bank 114                 - MGTXRXP0_114
NET  PCIE_TX7_N                LOC = AK3                       ; # Bank 114                 - MGTXTXN0_114
NET  PCIE_RX7_N                LOC = AG5                       ; # Bank 114                 - MGTXRXN0_114
NET  PCIE_TX0_P                LOC = W2                        ; # Bank 115                 - MGTXTXP3_115
NET  PCIE_RX0_P                LOC = Y4                        ; # Bank 115                 - MGTXRXP3_115
NET  PCIE_TX0_N                LOC = W1                        ; # Bank 115                 - MGTXTXN3_115
NET  PCIE_RX0_N                LOC = Y3                        ; # Bank 115                 - MGTXRXN3_115
NET  PCIE_TX1_P                LOC = AA2                       ; # Bank 115                 - MGTXTXP2_115
NET  PCIE_RX1_P                LOC = AA6                       ; # Bank 115                 - MGTXRXP2_115
NET  PCIE_TX1_N                LOC = AA1                       ; # Bank 115                 - MGTXTXN2_115
#NET  14N526                    LOC = Y8                        ; # Bank 115                 - MGTREFCLK0P_115
NET  PCIE_RX1_N                LOC = AA5                       ; # Bank 115                 - MGTXRXN2_115
#NET  14N527                    LOC = Y7                        ; # Bank 115                 - MGTREFCLK0N_115
#NET  14N474                    LOC = B11                       ; # Bank 115                 - MGTRREF_115
NET  PCIE_CLK_QO_N             LOC = AB7                       ; # Bank 115                 - MGTREFCLK1N_115
NET  PCIE_CLK_QO_P             LOC = AB8                       ; # Bank 115                 - MGTREFCLK1P_115
NET  PCIE_TX2_P                LOC = AC2                       ; # Bank 115                 - MGTXTXP1_115
NET  PCIE_RX2_P                LOC = AB4                       ; # Bank 115                 - MGTXRXP1_115
NET  PCIE_TX2_N                LOC = AC1                       ; # Bank 115                 - MGTXTXN1_115
NET  PCIE_RX2_N                LOC = AB3                       ; # Bank 115                 - MGTXRXN1_115
NET  PCIE_TX3_P                LOC = AE2                       ; # Bank 115                 - MGTXTXP0_115
NET  PCIE_RX3_P                LOC = AC6                       ; # Bank 115                 - MGTXRXP0_115
NET  PCIE_TX3_N                LOC = AE1                       ; # Bank 115                 - MGTXTXN0_115
NET  PCIE_RX3_N                LOC = AC5                       ; # Bank 115                 - MGTXRXN0_115
NET  FMC2_HPC_DP7_C2M_P        LOC = P4                        ; # Bank 116                 - MGTXTXP3_116
NET  FMC2_HPC_DP7_M2C_P        LOC = R6                        ; # Bank 116                 - MGTXRXP3_116
NET  FMC2_HPC_DP7_C2M_N        LOC = P3                        ; # Bank 116                 - MGTXTXN3_116
NET  FMC2_HPC_DP7_M2C_N        LOC = R5                        ; # Bank 116                 - MGTXRXN3_116
NET  FMC2_HPC_DP6_C2M_P        LOC = R2                        ; # Bank 116                 - MGTXTXP2_116
NET  FMC2_HPC_DP6_M2C_P        LOC = U6                        ; # Bank 116                 - MGTXRXP2_116
NET  FMC2_HPC_DP6_C2M_N        LOC = R1                        ; # Bank 116                 - MGTXTXN2_116
NET  FMC2_HPC_GBTCLK1_M2C_C_P  LOC = T8                        ; # Bank 116                 - MGTREFCLK0P_116
NET  FMC2_HPC_DP6_M2C_N        LOC = U5                        ; # Bank 116                 - MGTXRXN2_116
NET  FMC2_HPC_GBTCLK1_M2C_C_N  LOC = T7                        ; # Bank 116                 - MGTREFCLK0N_116
#NET  14N534                    LOC = V7                        ; # Bank 116                 - MGTREFCLK1N_116
#NET  14N535                    LOC = V8                        ; # Bank 116                 - MGTREFCLK1P_116
NET  FMC2_HPC_DP5_C2M_P        LOC = T4                        ; # Bank 116                 - MGTXTXP1_116
NET  FMC2_HPC_DP5_M2C_P        LOC = V4                        ; # Bank 116                 - MGTXRXP1_116
NET  FMC2_HPC_DP5_C2M_N        LOC = T3                        ; # Bank 116                 - MGTXTXN1_116
NET  FMC2_HPC_DP5_M2C_N        LOC = V3                        ; # Bank 116                 - MGTXRXN1_116
NET  FMC2_HPC_DP4_C2M_P        LOC = U2                        ; # Bank 116                 - MGTXTXP0_116
NET  FMC2_HPC_DP4_M2C_P        LOC = W6                        ; # Bank 116                 - MGTXRXP0_116
NET  FMC2_HPC_DP4_C2M_N        LOC = U1                        ; # Bank 116                 - MGTXTXN0_116
NET  FMC2_HPC_DP4_M2C_N        LOC = W5                        ; # Bank 116                 - MGTXRXN0_116
NET  FMC2_HPC_DP3_C2M_P        LOC = K4                        ; # Bank 117                 - MGTXTXP3_117
NET  FMC2_HPC_DP3_M2C_P        LOC = J6                        ; # Bank 117                 - MGTXRXP3_117
NET  FMC2_HPC_DP3_C2M_N        LOC = K3                        ; # Bank 117                 - MGTXTXN3_117
NET  FMC2_HPC_DP3_M2C_N        LOC = J5                        ; # Bank 117                 - MGTXRXN3_117
NET  FMC2_HPC_DP2_C2M_P        LOC = L2                        ; # Bank 117                 - MGTXTXP2_117
NET  FMC2_HPC_DP2_M2C_P        LOC = L6                        ; # Bank 117                 - MGTXRXP2_117
NET  FMC2_HPC_DP2_C2M_N        LOC = L1                        ; # Bank 117                 - MGTXTXN2_117
NET  FMC2_HPC_GBTCLK0_M2C_C_P  LOC = K8                        ; # Bank 117                 - MGTREFCLK0P_117
NET  FMC2_HPC_DP2_M2C_N        LOC = L5                        ; # Bank 117                 - MGTXRXN2_117
NET  FMC2_HPC_GBTCLK0_M2C_C_N  LOC = K7                        ; # Bank 117                 - MGTREFCLK0N_117
#NET  15N556                    LOC = M7                        ; # Bank 117                 - MGTREFCLK1N_117
#NET  15N557                    LOC = M8                        ; # Bank 117                 - MGTREFCLK1P_117
NET  FMC2_HPC_DP1_C2M_P        LOC = M4                        ; # Bank 117                 - MGTXTXP1_117
NET  FMC2_HPC_DP1_M2C_P        LOC = N6                        ; # Bank 117                 - MGTXRXP1_117
NET  FMC2_HPC_DP1_C2M_N        LOC = M3                        ; # Bank 117                 - MGTXTXN1_117
NET  FMC2_HPC_DP1_M2C_N        LOC = N5                        ; # Bank 117                 - MGTXRXN1_117
NET  FMC2_HPC_DP0_C2M_P        LOC = N2                        ; # Bank 117                 - MGTXTXP0_117
NET  FMC2_HPC_DP0_M2C_P        LOC = P8                        ; # Bank 117                 - MGTXRXP0_117
NET  FMC2_HPC_DP0_C2M_N        LOC = N1                        ; # Bank 117                 - MGTXTXN0_117
NET  FMC2_HPC_DP0_M2C_N        LOC = P7                        ; # Bank 117                 - MGTXRXN0_117
NET  FMC1_HPC_DP7_C2M_P        LOC = F4                        ; # Bank 118                 - MGTXTXP3_118
NET  FMC1_HPC_DP7_M2C_P        LOC = E6                        ; # Bank 118                 - MGTXRXP3_118
NET  FMC1_HPC_DP7_C2M_N        LOC = F3                        ; # Bank 118                 - MGTXTXN3_118
NET  FMC1_HPC_DP7_M2C_N        LOC = E5                        ; # Bank 118                 - MGTXRXN3_118
NET  FMC1_HPC_DP6_C2M_P        LOC = G2                        ; # Bank 118                 - MGTXTXP2_118
NET  FMC1_HPC_DP6_M2C_P        LOC = F8                        ; # Bank 118                 - MGTXRXP2_118
NET  FMC1_HPC_DP6_C2M_N        LOC = G1                        ; # Bank 118                 - MGTXTXN2_118
NET  FMC1_HPC_GBTCLK1_M2C_C_P  LOC = E10                       ; # Bank 118                 - MGTREFCLK0P_118
NET  FMC1_HPC_DP6_M2C_N        LOC = F7                        ; # Bank 118                 - MGTXRXN2_118
NET  FMC1_HPC_GBTCLK1_M2C_C_N  LOC = E9                        ; # Bank 118                 - MGTREFCLK0N_118
#NET  15N522                    LOC = AC9                       ; # Bank 118                 - MGTRREF_118
#NET  15N601                    LOC = G9                        ; # Bank 118                 - MGTREFCLK1N_118
#NET  15N600                    LOC = G10                       ; # Bank 118                 - MGTREFCLK1P_118
NET  FMC1_HPC_DP5_C2M_P        LOC = H4                        ; # Bank 118                 - MGTXTXP1_118
NET  FMC1_HPC_DP5_M2C_P        LOC = G6                        ; # Bank 118                 - MGTXRXP1_118
NET  FMC1_HPC_DP5_C2M_N        LOC = H3                        ; # Bank 118                 - MGTXTXN1_118
NET  FMC1_HPC_DP5_M2C_N        LOC = G5                        ; # Bank 118                 - MGTXRXN1_118
NET  FMC1_HPC_DP4_C2M_P        LOC = J2                        ; # Bank 118                 - MGTXTXP0_118
NET  FMC1_HPC_DP4_M2C_P        LOC = H8                        ; # Bank 118                 - MGTXRXP0_118
NET  FMC1_HPC_DP4_C2M_N        LOC = J1                        ; # Bank 118                 - MGTXTXN0_118
NET  FMC1_HPC_DP4_M2C_N        LOC = H7                        ; # Bank 118                 - MGTXRXN0_118
NET  FMC1_HPC_DP3_C2M_P        LOC = B4                        ; # Bank 119                 - MGTXTXP3_119
NET  FMC1_HPC_DP3_M2C_P        LOC = A6                        ; # Bank 119                 - MGTXRXP3_119
NET  FMC1_HPC_DP3_C2M_N        LOC = B3                        ; # Bank 119                 - MGTXTXN3_119
NET  FMC1_HPC_DP3_M2C_N        LOC = A5                        ; # Bank 119                 - MGTXRXN3_119
NET  FMC1_HPC_DP2_C2M_P        LOC = C2                        ; # Bank 119                 - MGTXTXP2_119
NET  FMC1_HPC_DP2_M2C_P        LOC = B8                        ; # Bank 119                 - MGTXRXP2_119
NET  FMC1_HPC_DP2_C2M_N        LOC = C1                        ; # Bank 119                 - MGTXTXN2_119
NET  FMC1_HPC_GBTCLK0_M2C_C_P  LOC = A10                       ; # Bank 119                 - MGTREFCLK0P_119
NET  FMC1_HPC_DP2_M2C_N        LOC = B7                        ; # Bank 119                 - MGTXRXN2_119
NET  FMC1_HPC_GBTCLK0_M2C_C_N  LOC = A9                        ; # Bank 119                 - MGTREFCLK0N_119
#NET  15N539                    LOC = C9                        ; # Bank 119                 - MGTREFCLK1N_119
#NET  15N538                    LOC = C10                       ; # Bank 119                 - MGTREFCLK1P_119
NET  FMC1_HPC_DP1_C2M_P        LOC = D4                        ; # Bank 119                 - MGTXTXP1_119
NET  FMC1_HPC_DP1_M2C_P        LOC = C6                        ; # Bank 119                 - MGTXRXP1_119
NET  FMC1_HPC_DP1_C2M_N        LOC = D3                        ; # Bank 119                 - MGTXTXN1_119
NET  FMC1_HPC_DP1_M2C_N        LOC = C5                        ; # Bank 119                 - MGTXRXN1_119
NET  FMC1_HPC_DP0_C2M_P        LOC = E2                        ; # Bank 119                 - MGTXTXP0_119
NET  FMC1_HPC_DP0_M2C_P        LOC = D8                        ; # Bank 119                 - MGTXRXP0_119
NET  FMC1_HPC_DP0_C2M_N        LOC = E1                        ; # Bank 119                 - MGTXTXN0_119
NET  FMC1_HPC_DP0_M2C_N        LOC = D7                        ; # Bank 119                 - MGTXRXN0_119
